---
layout: page
use-site-title: true
bigimg:
  - "/img/vancouver.jpg": "View from the University of British Columbia"
  - "/img/adamCopenhagenCropped.jpg": "International Co-op Work Placement Travel Adventures"
  - "/img/IMG_6801.JPG": "STAT450/550 Poster Session (2015)"
---

<h1>Adam J. Schonewille</h1>
<h2>5th Year Engineering Physics Student</h2>
<h2>Mechanical Specialization</h2>

<h3> My <a href="/pdfs/adam-schonewilles-resume-05112017.pdf"> Resume </a> </h3>

<!--
<p>My research work is interdisciplinary; merging components from mathematical statistics, genomics and medical sciences. In particular, I am interested in developing new statistical methods that are robust to outliers and feasible for the anlaysis of high-dimensional datasets usually encountered in genomics and protoemics studies. I am currently working on extensions of classical estimation approaches to address problems related to data science and the analysis of big data, e.g, sparsity, measurement errors, confounding factors, collinearity. I have published both methodological and applied work related with these areas of study. I collaborate in different interdisciplinary research projects, including proteomics in multiple sclerosis, proteomics in cardiovascular diseases, and –omics in asthmatic patients, among others.</p>
-->
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}



<h2> Contact Information </h2>
  <p>
    <b>University of British Columbia</b> <br>
    Vancouver, B.C. <br>

    <br>
    <b>Cell</b>: 604-825-6843 <br>
    <!-- <b>office</b>: 604-822-3710 <br> -->
    <!-- <b>fax</b>: numbers here <br> -->
    <b>e-mail</b>: adamschonewille 'at' gmail 'dot' com <br>

  </p>

<h2> <b> Acknowledgments </b> </h2>
  <p>

    Special thanks go to my guy Kevin Multani (website editor) for his help building this website, and to Dean Attali for creating Beautiful Jekyll.
  </p>
